<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css" />
<title>ShortStop - Register</title>
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header')%>
  <body>
    <div class="row">
      <div class="col-md-4">
        <div class="login-container">

        
        <h1 class="text-left mb-4">Create Account</h1>
        <form method="POST" action="/register">
          
          <!-- Email Field -->
          <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" required id="email" class="form-control" placeholder="Enter your email" />
          </div>
          
          <!-- Password Field -->
          <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" required id="password" class="form-control" placeholder="Enter your password" />
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
  </div>
</body>
</html>